<form class="well">
    <div class="form-group">
        <label for="firstname">Firstname</label>
        <input type="text" class="form-control" id="firstname" ng-model="form.firstname">
    </div>
    <div class="form-group">
        <label for="lastname">Lastname</label>
        <input type="text" class="form-control" id="lastname" ng-model="form.lastname">
    </div>
    <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="text" class="form-control" id="phone" ng-model="form.phone">
    </div>
    <div class="form-group">
        <label for="street">Street</label>
        <input type="text" class="form-control" id="street" ng-model="form.address.street">
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city" ng-model="form.address.city">
    </div>
    <div class="form-group">
        <label for="state">State</label>
        <input type="text" class="form-control" id="state" ng-model="form.address.state">
    </div>
    <div class="form-group">
        <label for="zip">Zip Code</label>
        <input type="text" class="form-control" id="zip" ng-model="form.address.zip">
    </div>
    <div class="row">
        <button type="submit" class="btn btn-primary" ng-click="addToDatabase()">Add customer</button>
    </div>
</form>